.b-faq {
  h3 {
    text-align: center;
    color: rgb(72,72,72);
    font-family: $f-extrabold;
    text-transform: uppercase;
    font-size: 20px;
  }
  .panel {
    margin-top: 15px;
    &:first-of-type {
      margin-top: 30px;
    }
    &--filter {
      position: relative;
      .panel__body {
        position: absolute;
        bottom: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0,0,0,.8);
        border-bottom: none;
        border-top: 2px solid #dadada;
      }
      .f-filter {
        fieldset {
          border-color: rgba(#fff, .8);
          border-width: 1px;
          color: rgba(#fff, .8);
          &.flavors {
            display: none;
          }
          legend {
            background-color: rgba(#fff, .9);
            border-radius: 8px;
            color: rgba(0,0,0,.8);
          }
          label:before {
            border-color: rgba(#fff, .8);
          }
          input[type="checkbox"]:checked {
            & + label:before {
              background-color: rgba(#fff, .8);
            }
          }
        }
      }
    }
    &__title {
      position: relative;
      padding: 15px 35px 15px 15px;
      font-family: $f-bold;
      color: rgb(72,72,72);
      font-size: 19px;
      line-height: 21px;
      border: 2px solid #dadada;
      background-color: #fff;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        border-top: 7px solid #4A4A4A;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        transform-origin: 50% 50%;
        transform: translate(0, -50%);
        position: absolute;
        top: 50%;
        right: 15px;
        transition: all .3s ease-in-out;
      }
    }
    &__body {
      padding: 10px 15px;
      background-color: #fff;
      border: 2px solid #dadada;
      border-top: none;
      display: none;
      p {
        font-family: $f-regular;
        font-size: 16px;
        line-height: 20px;
        color: #808080;
      }
      .panel:first-child {
        margin-top: 0;
      }
    }
    &.active {
      & > .panel__title:after {
        transform: translate(0, -50%) rotate(180deg);
      }
    }
  }
  .category-group {
    margin-top: 60px;
    h2 {
      text-align: center;
      padding: 0;
      margin: 0;
      font-size: 30px;
      color: #fff;
      text-shadow: 0 3px 6px rgba(0,0,0,.3);
      font-family: $f-bold;
    }
  }
  div[data-filter-target] {
    display: none;
  }
  .filter-results {
    .panel:first-of-type {
      margin-top: 15px;
    }
  }
}