.b-faq {
  h3 {
    text-align: center;
    color: rgb(72,72,72);
    font-family: $f-extrabold;
    text-transform: uppercase;
    font-size: 20px;
  }
  .panel {
    margin-top: 15px;
    &:first-of-type {
      margin-top: 30px;
    }
    &__title {
      position: relative;
      padding: 15px 35px 15px 15px;
      font-family: $f-bold;
      color: rgb(72,72,72);
      font-size: 19px;
      line-height: 21px;
      border: 2px solid #dadada;
      background-color: #fff;
      cursor: pointer;
      &:after {
        content: '';
        display: block;
        border-top: 7px solid #4A4A4A;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        right: 15px;
        transition: all .3s ease-in-out;
      }
    }
    &__body {
      padding: 10px 15px;
      background-color: #fff;
      border: 2px solid #dadada;
      border-top: none;
      display: none;
      p {
        font-family: $f-regular;
        font-size: 16px;
        line-height: 20px;
        color: #808080;
      }
      .panel:first-child {
        margin-top: 0;
      }
    }
    &.active {
      & > .panel__title:after {
        transform: translate(-50%, -50%) rotate(180deg);
      }
    }
  }
}