.main-slider-section {
  position: relative;
  .decorator-1 {
    display: block;
    width: 110px;
    height: 237px;
    background-color: rgba(#fff, .2);
    position: absolute;
    top: 80px;
    left: 30px;
    z-index: 700;
    &:after {
      content: '';
      display: block;
      width: 57px;
      height: 181px;
      background-color: rgba(#C54753, .2);
      position: absolute;
      top: 70%;
      left: 0;
    }
  }
}
.main-slider {
  height: 540px;
  position: relative;
  .slick-slide {
    background-color: rgba($c-watermelon, .5);
    &:first-child {
      display: block;
    }
  }
  &__slide {
    height: 100%;
    display: none;
    img {
      height: 100%;
      width: auto;
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 100px;
    li {
      button {
        background-color: $c-main-slider-dot;
      }
    }
  }
}