.main-slider-section {
  position: relative;
  
}
.main-slider {
  height: 640px;
  position: relative;
  .slick-slide {
    background-color: rgba($c-watermelon, .5);
    &:first-child {
      display: block;
    }
  }
  &__slide {
    height: 100%;
    display: none;
    position: relative;
    img {
      height: 100%;
      width: auto;
    }
    .learn-more {
      display: flex;
      width: 102px;
      height: 26px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      justify-content: center;
      align-items: center;
      z-index: 600;
      background-color: #5471d9;
      color: #fff;
      font-family: $f-regular;
      font-size: 17px;
      &:hover {
        text-decoration: none;
      }
    }
  }
  .slick-slide {
    &:nth-child(1) {
      .main-slider__slide {
        .learn-more {
          top: 36%;
          left: 52%;
        }
      }
    }
    &:nth-child(2) {
      .main-slider__slide {
        .learn-more {
          top: 52%;
          left: 49%;
        }
      }
    }
    &:nth-child(3) {
      .main-slider__slide {
        .learn-more {
          background-color: #fff;
          color: #5471d9;
          top: 57%;
          left: 42%;
        }
      }
    }
    &:nth-child(4) {
      .main-slider__slide {
        .learn-more {
          top: 43%;
          left: 47%;
        }
      }
    }
  }
  .slick-dots {
    position: absolute;
    bottom: 210px;
    li {
      button {
        background-color: $c-main-slider-dot;
      }
    }
  }
}