.our-products {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 500;
  height: 0;
  .wrapper {
    max-width: 100%;
    position: relative;
    top: -55px;
  }
  .section-title {
    position: relative;
    transform: translate(-35px, 50%);
    z-index: 500;
    color: $c-white;
    background-color: #636363;
  }
  &__slider {
    position: relative;
    max-width: calc(100% - 25px);
    background-color: transparent;
    padding-top: 25px;
    padding-bottom: 30px;
    &:before {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0;
      left: 15px;
      right: 0;
      background-color: #fff;
    }
    .slick-current {
      .our-products__slider__slide {
        &:before {
          left: 0;
        }
      }      
    }
    &__slide {
      position: relative;
      text-align: left;
      font-size: 0;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 30px;
        bottom: 10px;
        left: 6px;
        right: 30px;
        background-color: #fff;
        box-shadow: 0 0 6px rgba(#000000, .2);
      }
      .product-thumbnail {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-bottom: 10px;
        img {
          display: block;
          max-width: 100%;
          height: auto;
        }
      }
      .product-desc {
        display: inline-block;
        vertical-align: top;
        width: 50%;
        padding-top: 30px;
        padding-right: 45px;
        padding-bottom: 20px;
        p {
          width: 100%;
          font-family: $f-light;
          color: $c-dark;
          font-size: 17px;
          line-height: 20px;
        }
      }
      .product-title {
        margin-bottom: 10px;
        h4 {
          font-family: $f-b-medium;
          font-size: 31px;
          color: #000000;
          font-style: italic;
          text-transform: lowercase;
        } 
      }
      * {
        position: relative;
        z-index: 600;
      }
      .learn-more-row {
        display: block;
        margin-top: 10px;
        a {
          display: block;
          width: 126px;
          padding: 5px 5px;
          background-color: $c-light-blue-2;
          text-align: center;
          font-family: $f-regular;
          font-size: 1rem;
          color: $c-white;
          transition: all .3s ease-in-out;
          &:hover {
            text-decoration: none;
            background-color: lighten($c-light-blue-2, 5%);
          }
        }
      }
    }
    .slick-arrow {
      margin: 0;
      padding: 0;
      position: absolute;
      z-index: 8888;
      top: 40%;
      outline: none;
      width: 25px;
      height: 65px;
      background-color: #fff;
      cursor: pointer;
      box-shadow: none;
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: 50% 50%;
        transform: translate(-50%, -50%);
      }
      &.slick-prev {
        left: 0;
        background-color: transparent;
        &:before {
          border-right: 8px solid #888888;
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
        }
      }
      &.slick-next {
        left: 100%;
        &:before {
          border-left: 8px solid #888888;
          border-top: 9px solid transparent;
          border-bottom: 9px solid transparent;
        }
      }
    }
    .slick-dots {
      width: 100%;
      position: absolute;
      bottom: 5px;
      right: 0;
      padding: 10px 0 5px;
      li {
        button {
          background-color: #476684;
        }
      }
    }
  }
}

.our-products-desc {
  background-color: #acd9ff;
  position: relative;
  padding-top: 92px;
  .decorator-1 {
    position: absolute;
    display: block;
    background-color: rgba(#5398b9, .19);
    width: 100%;
    max-width: 340px;
    height: 104px;
    top: 93px;
    left: 0;
  }
  .decorator-2 {
    position: absolute;
    display: block;
    background-color: rgba(#6ab3e8, .30);
    width: 116px;
    height: 257px;
    top: 93px;
    left: 0;
  }
  .our-products__desc-inf {
    padding: 32px 0 70px;
    color: $c-white;
    text-shadow: 0 3px 6px rgba(#000000, .2);
    h3 {
      font-family: $f-bold;
      font-size: 1.2rem;
      margin-bottom: 40px;
    }
    p {
      font-family: $f-light;
      font-size: 0.875rem;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 30px;
    height: 67px;
    background-color: #acd9ff;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 500;
  }
}