.reviews {
  background-color: #F9F9F9;
  position: relative;
  padding-top: 15px;
  .review-teaser {
    background-color: #ffffff;
    height: 276px;
  }
  .teaser-desc {
    position: absolute;
    bottom: 15px;
    background-color: $c-white;
    max-width: 60%;
    padding: 5px 10px;
    text-align: center;
    box-shadow: 0 3px 6px rgba(#000000, .16);
    left: 0;
    bottom: 45px;
    h3 {
      font-family: $f-bold;
      font-size: 1.25rem;
      color: #6e6e6e;
      margin-bottom: 10px;
    }
  }
  .section-title {
    background-color: #013E67;
    color: #FFFFFF;
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 200;
  }
  hr {
    display: block;
    width: 100%;
    height: 20px;
    background-color: #FB4667;
    margin: 0;
  }
}