// Colors
$c-dark: #4A4A4A;
$c-grey: #434343;
$c-grey-2: #7E7E7E;
$c-light-grey: #707070;
$c-white: #FFFFFF;
$c-dark-blue: #013E67;
$c-light-blue: #6DAECF;
$c-light-blue-2: #9CC7F2;
$c-mango: #DC673C;
$c-pineapple: #FECE00;
$c-watermelon: #FB4667;
$c-pure: #C5D9A6;
$c-main-slider-dot: #fff;
$c-product-desc-grey: #E6E6E6;
$c-our-blog: #EC9D98;

// Fonts
$f-regular: 'Circe-Regular';
$f-extralight: 'Circe-ExtraLight';
$f-thin: 'Circe-Thin';
$f-light: 'Circe-Light';
$f-bold: 'Circe-Bold';
$f-extrabold: 'Circe-ExtraBold';
$f-b-demi: 'Bauhaus-Demi';
$f-b-heavy: 'Bauhaus-Heavy';
$f-b-light: 'Bauhaus-Light';
$f-b-medium: 'Bauhaus-Medium';