<section class="article-single pb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <article class="article">
          <div class="text-center mb-3">
            <h2>Hydration and preventing muscle cramps</h2>
          </div>
          <div class="article-main-image mb-3">
            <img src="img/pic-4.jpg" alt="main image" class="img-fluid">
          </div>
          <div class="article-content clearfix">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quaerat molestiae sequi, provident ut obcaecati animi id nihil impedit, autem, voluptatum cumque itaque odit aspernatur similique! Magni, asperiores! At, iusto?
            </p>
            <img src="img/pic-3.jpg" alt="image" class="w-50 m-2 float-left">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officia sint impedit maiores doloremque non odio vitae, numquam repudiandae illum eius sapiente cum consequatur at consequuntur adipisci aspernatur ratione id? Omnis perspiciatis voluptatem iste autem amet iusto animi minima. Necessitatibus omnis similique vel laboriosam eveniet iure consectetur officia quae pariatur tempora molestiae sed reiciendis itaque architecto doloremque voluptas voluptates, aliquam eius? Sint, quis? Odit eos quasi dolorem minima officiis dolor, dolorum, consectetur voluptate reiciendis maxime temporibus, ullam incidunt atque veniam iure voluptates beatae repellat qui consequuntur soluta facere. Qui odit vero ea necessitatibus veniam eaque mollitia officia placeat rerum, molestiae porro.
            </p>
            <img src="img/pic-2.jpg" alt="image 2" class="w-50 m-2 float-right">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est, nostrum optio quibusdam quia porro, fugiat inventore aut tempora tenetur libero assumenda atque veritatis esse vero eligendi cum accusamus nesciunt. Maiores itaque quae cupiditate, atque ducimus sit ea quidem porro quam architecto officiis delectus nisi hic eos earum commodi ut quo!
            </p>
          </div>
          <div class="share-wrapper mt-5">
            <h6>Share this article:</h6>
            <ul class="socials-list">
              <li><a href="#" class="fb"></a></li>
              <li><a href="#" class="inst"></a></li>
              <li><a href="#" class="pt"></a></li>
            </ul>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>