<footer class="footer" data-aos="fade-up">
  <section data-aos="fade-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          <div class="footer__title-nav">
            <h4>Navigation</h4>
          </div>
          <nav class="footer__nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="fade-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          <img src="img/logo-gradient.png" alt="logo" class="img-fluid">
          <div class="mt-4">
            <span class="copyright">
              Copyright 2018. All rights reserved Hydra Coco
            </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-11">
          <ul class="service-nav">
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</footer>