<section class="main-slider-section" data-aos="fade-up" data-aos-delay="300">
  <div class="main-slider" data-js="main-slider">
    {{#main-slider-slides}}
      <div class="main-slider__slide">
        <img src="{{image}}" alt="slide">
        <a href="#" class="learn-more {{#learn-more-white}}learn-more--white{{/learn-more-white}}">Learn More</a>
      </div>
    {{/main-slider-slides}}
  </div>
</section>