<section class="stay-connected">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <h3>Stay Connected</h3>
        <p>
          Subscribe to  our newsletter to keep up to date on the  latest new from hydra coco
        </p>
        <form action="#">
          <input type="email" placeholder="Your Email:">
          <button type="submit"></button>
        </form>
      </div>
    </div>
  </div>
</section>