<section class="articles-list py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{#articles}}
        <article class="article-small" data-aos="fade-up">
          <a href="#" class="thumbnail">
            <img src="{{{image}}}" alt="thumbnail" class="img-fluid">
          </a>
          <div class="title text-center mt-2">
            <a href="#">{{article-title}}</a>
          </div>
          <div class="text-center mt-1">
            <p>{{article-short-desc}}</p>
          </div>
          <div class="row mt-3 align-items-end">
            <div class="col-7">
              <div class="share-wrapper mt-1">
                <h6>Share:</h6>
                <ul class="socials-list">
                  <li><a href="#" class="fb"></a></li>
                  <li><a href="#" class="inst"></a></li>
                  <li><a href="#" class="pt"></a></li>
                </ul>
              </div>
            </div>
            <div class="col-5 text-right">
              <a href="#" class="read-more">read more</a>
            </div>
          </div>
        </article>
        {{/articles}}
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="view-all-row text-right px-3 mt-5" data-aos="fade-right">
          <a href="#" class="view-all">View more</a>
        </div>
      </div>
    </div>
  </div>
</section>