<section class="pb-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <ul class="inf-list">
          <li>
            <div class="footer__title">
              <h4>For more information, go to:</h4>
            </div>
            <a href="mailto:info@hydracoco.com">info@hydracoco.com</a>
          </li>
          <li>
            <div class="footer__title">
              <h4>For distribution inquiries, go to:</h4>
            </div>
            <a href="mailto:sales@hydracoco.com">sales@hydracoco.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>