<footer class="footer" data-aos="fade-up">
  <section data-aos="fade-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          <div class="footer__title">
            <h4>Navigation</h4>
          </div>
          <nav class="footer__nav">
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">Contacts us</a></li>
            </ul>
          </nav>
          <div class="footer__title">
            <h4>Follow us!</h4>
          </div>
          <nav class="footer__socials">
            <ul>
              <li><a href="#" class="fb"></a></li>
              <li><a href="#" class="tw"></a></li>
              <li><a href="#" class="yt"></a></li>
              <li><a href="#" class="pt"></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="fade-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          <ul class="inf-list">
            <li>
              <div class="footer__title">
                <h4>For more information, go to:</h4>
              </div>
              <a href="mailto:info@hydracoco.com">info@hydracoco.com</a>
            </li>
            <li>
              <div class="footer__title">
                <h4>For distribution inquiries, go to:</h4>
              </div>
              <a href="mailto:sales@hydracoco.com">sales@hydracoco.com</a>
            </li>
            <li>
              <div class="footer__title">
                <h4>Stay Connected</h4>
              </div>
              <p>
                Subscribe to our newsletter to keep up to date on the latest new from hydra coco
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section data-aos="fade-right">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-11">
          <form action="#">
            <input type="email" placeholder="Your Email:">
            <button type="submit"></button>
          </form>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-11">
          <img src="img/logo-gradient.png" alt="logo" class="img-fluid">
          <div class="mt-5">
            <span class="copyright">
              Copyright 2018. All rights reserved Hydra Coco
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>