<header class="header" data-js="header">
  <div class="container-fluid">
    <div class="row align-items-center">
      <!-- Logo -->
      <div class="col-6">
        <a href="#" class="logo" data-js="logo">
          <img src="img/logo-unactive" alt="logo unactive" class="logo__visible">
          <img src="img/logo-active" alt="logo active">
        </a>
      </div>
      <!-- Burger button -->
      <div class="col-6 text-right">
        <a href="#" class="btn btn--burger" data-js="btn--burger">
          <span></span>
        </a>
      </div>
      <!-- Navigaton -->
      <div class="col-12">
        <nav class="main-nav" data-js="main-nav">
          <ul>
            <li>
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About Us</a>
            </li>
            <li>
              <a href="#">Products</a>
              <ul>
                <li>
                  <a href="#">Sport</a>
                </li>
                <li>
                  <a href="#">Sparkling Sport</a>
                </li>
                <li>
                  <a href="#">Pure Coconut Water</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
            <li>
              <a href="#">Blog</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>