<section class="main-slider-section" data-aos="fade-up" data-aos-delay="300">
  <span class="decorator-1" data-aos="fade-right" data-aos-delay="600"></span>
  <div class="main-slider" data-js="main-slider">
    {{#main-slider-slides}}
      <div class="main-slider__slide">
        <img src="img/main-slide.jpg" alt="slide">
      </div>
    {{/main-slider-slides}}
  </div>
</section>