<section class="our-blog">
  <span class="decorator"></span>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Our Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="teasers-wraper">
    <div class="container">
      <div class="row position-relative teaser">
        <div class="col-9">
          <img src="http://place-hold.it/285x198" alt="image" class="teaser-thumbnail">
        </div>
        <div class="teaser-desc teaser-desc--right">
          <h3>Stay Hydrated During Pregnancy</h3>
          <a href="#" class="more-link">Read More</a>
        </div>
      </div>
      <div class="row position-relative teaser">
        <div class="col-9">
          <img src="http://place-hold.it/285x198" alt="image" class="teaser-thumbnail">
        </div>
        <div class="teaser-desc teaser-desc--left">
          <h3>Seven Amazing Reasons to Drink Coconut Water</h3>
          <a href="#" class="more-link">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>