<section class="our-products-desc">
  <span class="decorator-1"></span>
  <span class="decorator-2"></span>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-11">
        <div class="our-products__desc-slider" data-js="our-products__desc-slider">
          {{#our-products-slides}}
          <div>
            <h3>We believe coconut water can be the start of something good.</h3>
            <p>
              A good choice, good hydration, maybe even part of a good life that includes a balanced diet and exercise. Coconut Water contains 5 electrolytes: potassium, magnesium, sodium, calcium, and phosphorus, that help keep you hydrated. Coconut water is naturally gluten-free, lactose-free, and dairy-free (by the way, Hydra Coco is non-GMO: if a bioengineered version of an ingredient exists, Hydra Coco does not use it), so you can breathe easy knowing you’re treating your body well. Life is hectic. We believe in the power of small changes and the little things that allow us to flourish. And we think enjoying ice-cold Hydra Coco Coconut Water is a great place to start.
            </p>
          </div>
          {{/our-products-slides}}
        </div>
      </div>
    </div>
  </div>
</section>