<section class="our-products">
  <div class="wrapper text-right">
    <div class="section-title">
      <h2>Our Products</h2>
    </div>
    <div class="our-products__slider" data-js="our-products__slider">
      {{#our-products-slides}}
      <div class="our-products__slider__slide">
        <div class="product-thumbnail">
          <img src="img/product-1.png" alt="product">
        </div>
        <div class="product-desc">
          <div class="product-title">
            <h4>Sport</h4>
          </div>
          <p>
            A clean refreshing taste that energizes
          </p>
          <div class="learn-more-row">
            <a href="#">Learn more</a>
          </div>
        </div>
      </div>
      {{/our-products-slides}}
    </div>
  </div>
</section>