<section class="our-blog" data-aos="fade-up">
  <span class="decorator" data-aos="fade-right" data-aos-delay="300"></span>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title" data-aos="fade-right" data-aos-delay="300">
          <h2>Our Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="teasers-wraper">
    <div class="container">
      <div class="row position-relative teaser">
        <div class="col-9" data-aos="fade-right" data-aos-delay="600">
          <img src="img/pic-1.jpg" alt="image" class="teaser-thumbnail">
        </div>
        <div class="teaser-desc teaser-desc--right" data-aos="fade-right" data-aos-delay="600">
          <h3>Stay Hydrated During Pregnancy</h3>
          <a href="#" class="more-link">Read More</a>
        </div>
      </div>
      <div class="row position-relative teaser">
        <div class="col-9" data-aos="fade-right" data-aos-delay="600">
          <img src="img/pic-2.jpg" alt="image" class="teaser-thumbnail">
        </div>
        <div class="teaser-desc teaser-desc--left" data-aos="fade-right" data-aos-delay="900">
          <h3>Seven Amazing Reasons to Drink Coconut Water</h3>
          <a href="#" class="more-link">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>