<section class="our-blog" data-aos="fade-up">
  <span class="decorator"></span>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title" data-aos="fade-right" data-aos-delay="300">
          <h2>Our Blog</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="teasers-wraper">
    <div class="container-fluid px-0">
      <div class="row position-relative teaser">
        <div class="col-10" data-aos="fade-right" data-aos-delay="600">
          <img src="img/pic-1.jpg" alt="image" class="teaser-thumbnail">
          <div class="teaser-desc teaser-desc--right" data-aos="fade-right" data-aos-delay="600">
            <h3>Hydration and Preventing Muscle Cramps </h3>
            <a href="#" class="more-link">Read More</a>
          </div>
        </div>
      </div>
      <div class="row position-relative teaser">
        <div class="col-10" data-aos="fade-right" data-aos-delay="600">
          <img src="img/pic-2.jpg" alt="image" class="teaser-thumbnail">
          <div class="teaser-desc teaser-desc--left" data-aos="fade-right" data-aos-delay="900">
            <h3>7 Amazing Reasons to Drink Coconut Water</h3>
            <a href="#" class="more-link">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="view-all-row text-right px-3 mt-5" data-aos="fade-right" data-aos-delay="300">
    <a href="#" class="view-all">View All</a>
  </div>
</section>