<section class="b-product py-5">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-9">
        <div class="d-flex flex-row align-items-center">
          <ul class="ml-list position-absolute">
            <li><a href="#" class="active">500ML</a></li>
            <li><a href="#">300ML</a></li>
          </ul>
          <div class="product-thumbnail w-100">
            <img src="{{product-image}}" alt="sport" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-3">
        <a href="#" class="buy">
          <span>
            buy<small>online<br>now</small>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>