<section class="b-product pt-5 pb-3">
  <div class="container">
    <div class="row align-items-center mt-5">
      <div class="col-9 pr-0 position-relative z-index-200">
        <div class="d-flex flex-row align-items-center">
          <ul class="ml-list position-absolute">
            <li><a href="#" class="active">500ML</a></li>
            <li><a href="#">300ML</a></li>
          </ul>
          <div class="product-thumbnail w-100 position-relative">
            <img src="{{product-image}}" alt="sport" class="img-fluid">
          </div>
        </div>
      </div>
      <div class="col-3 px-0 position-relative z-index-100">
        <a href="#" class="buy">
          <span>
            buy<small>online<br>now</small>
          </span>
        </a>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12 text-center">
        <div class="label-for-filter">
          <h5>Available Flavors:</h5>
        </div>
        <div class="filter" data-js="filter">
          <ul>
            <li><a href="#">Filter 1</a></li>
            <li><a href="#">Filter 2</a></li>
            <li><a href="#">Filter 3</a></li>
            <li><a href="#">Original</a></li>
          </ul>
          <span class="current">Original</span>
          <i class="arrow"></i>
        </div>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <img src="{{{product-type-image}}}" alt="product type" class="img-responsive">
      </div>
    </div>
  </div>
  <div class="position-relative mt-4">
    <div class="flyouts position-absolute">
      <div class="inf-window" id="product-details">
        <div class="content">
          <div class="product-detail-title text-center">
            <!-- <img src="{{product-details-image}}" alt="product details image" class="img-fluid"> -->
            <h4>{{product-detail-title}}</h4>
          </div>
          <div class="product-detail-text text-center mt-3 pr-2">
            <p>{{product-detail-text}}</p>
          </div>
        </div>
      </div>
      <div class="inf-window text-center" id="nutrion">
        <div class="content">
          <img src="img/nutrion.jpg" alt="nutrion" class="nutrion-image">
        </div>
        <span>
          <b>Ingredients:</b> CoconutWater, Less than 1% of Citric Acid, abscorbic acid (Vitamin C), Thiamin (Vitamin B1), Niacinamide (Vitamin B3 ), Pyridoxine hcl (Vitamin B6), Cyanocobalamin (Vitamin B12), Panthotenic acid (Vitamin B5)
        </span>
      </div>
      <div class="inf-window" id="store">
        <h5>Store Locator:</h5>
        <div class="content">
          <a href="#" class="specific-product">Select Specific Products</a>
          <form action="#">
            <input type="text" placeholder="City/Zip Code">
            <button type="submit">Find</button>
          </form>
          <div class="results">
            <div class="results__header">
              <div class="row">
                <div class="col-4">
                  18 results
                </div>
                <div class="col-4 text-center">
                  <span>1 - 5</span> <a href="#" class="next"></a>
                </div>
                <div class="col-4 text-right">
                  <i class="mail"></i>
                </div>
              </div>
            </div>
            <div class="results__list">
              <ul>
                <li>
                  <div class="row">
                    <div class="col-9">
                      <h5>7-eleven</h5>
                      <address>
                        3398 N State Road
                        Launderdale Lakes, FL 33319
                      </address>
                      <span>1.7mi | 1 Products</span>
                    </div>
                    <div class="col-3">
                      <a href="#" class="more"></a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="product-page-nav" data-js="product-page-nav">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <ul>
              <li>
                <a href="#" data-target="product-details">
                  Product Details
                </a>
              </li>
              <li>
                <a href="#" data-target="nutrion">
                  Nutrition
                </a>
              </li>
              <li>
                <a href="#" data-target="store">
                  Store Locator
                </a>
              </li>
              <li>
                <a href="#">
                  FAQ
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>