<section class="recipes" data-aos="fade-up">
    <div class="mb-4">
      <div class="section-title section-title--big" data-aos="fade-right" data-aos-delay="300">
        <h2>Recipes</h2>
      </div>
    </div>
  <div class="container">
    {{#recipe-teasers}}
    <div class="row justify-content-center recipe-teaser" data-aos="fade-up" data-aos-delay="600">
      <div class="col-12">
        <div class="d-flex">
          <div class="teaser-desc">
            <h3>{{title}}</h3>
            <a href="#" class="more-link">Read More</a>
          </div>
          <div class="teaser-thumbnail" data-js="recipe-teaser-thumbnail">
            <img src="{{{image}}}" alt="image">
          </div>
        </div>
      </div>
    </div>
    {{/recipe-teasers}}
  </div>
  <div class="view-all-row text-right px-3 mt-2" data-aos="fade-right"data-aos-delay="300">
    <a href="#" class="view-all">View All</a>
  </div>
  <div class="socials-wrapper mt-3 ml-auto" data-aos="fade-right">
    <div class="text-center">
      <a href="#" class="follow">Follow Us</a>
      <ul class="socials-list">
        <li><a href="#" class="fb"></a></li>
        <li><a href="#" class="inst"></a></li>
        <li><a href="#" class="yt"></a></li>
        <li><a href="#" class="pt"></a></li>
      </ul>
    </div>
  </div>
</section>