<section class="reviews" data-aos="fade-up">
  <div class="text-right mb-5">
    <div class="section-title section-title--big" data-aos="fade-right" data-aos-delay="300">
      <h2>What Our Clients Say</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 text-justify">
        <p>(These unsolicited testimonials are from actual Amazon customers who purchased our product. Links are  provided to the review and the customer profiles. Their experiences and opinions are their own*)</p>
      </div>
    </div>
    <div class="row reviews-row">
      <div class="review-teaser text-center" data-aos="fade-up">
        <i class="quotes"></i>
        <p>
          This stuff is amazing!!
          Helped my mom when she was having ovarian cancer & cysts and works best by far at kicking viral and bacterial infections, better than any other vitamin c I’ve tried and I have tried a ton! Hope the price stays down so it will be affordable to take on a daily basis!
        </p>
        <h4>Tab J Mar</h4>
      </div>
      <div class="review-teaser text-center" data-aos="fade-up">
        <i class="quotes"></i>
        <p>
          Easy to take – made in UK not China. I feel more energy and confident that my immune system is improving.
        </p>
        <h4>Francine</h4>
      </div>
    </div>
    <div class="row mt-4" data-aos="fade-right">
      <div class="col-12 text-center">
        <a href="#" class="more-testimonials">More Testimonials</a>
      </div>
    </div>
  </div>
</section>