@font-face {
	font-family: 'Circe-Regular';
	src: url('../fonts/Circe/Circe-Regular.eot');
	src: url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Regular.woff') format('woff'),
		url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-ExtraLight';
	src: url('../fonts/Circe/Circe-ExtraLight.eot');
	src: url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'),
		url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Thin';
	src: url('../fonts/Circe/Circe-Thin.eot');
	src: url('../fonts/Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Thin.woff') format('woff'),
		url('../fonts/Circe/Circe-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Light';
	src: url('../fonts/Circe/Circe-Light.eot');
	src: url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Light.woff') format('woff'),
		url('../fonts/Circe/Circe-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-Bold';
	src: url('../fonts/Circe/Circe-Bold.eot');
	src: url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-Bold.woff') format('woff'),
		url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Circe-ExtraBold';
	src: url('../fonts/Circe/Circe-ExtraBold.eot');
	src: url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'),
		url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus-Bold';
	src: url("../fonts/Bauhaus/BauhausITCbyBT-Bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus-Demi';
	src: url("../fonts/Bauhaus/BauhausITCbyBT-Demi.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus-Heavy';
	src: url("../fonts/Bauhaus/BauhausITCbyBT-Heavy.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus-Light';
	src: url("../fonts/Bauhaus/BauhausITCbyBT-Light.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Bauhaus-Medium';
	src: url("../fonts/Bauhaus/BauhausITCbyBT-Medium.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}