body, html {
  min-width: 320px;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
/* ----  temproary ---- */
html {
  background-color: $c-dark;
}
body {
  max-width: 700px;
  margin: 0 auto;
  overflow-x: hidden;
}
/* -------------------- */
* {
  outline: none;
}

body {
  position: relative;
  height: auto;
  min-height: 100vh;
  line-height: 1.5;
  &.inner-page {
    background-color: #A0C6EC;
    .main-slider-section {
      height: 480px;
      overflow: hidden;
    }
    .header {
      background-color: #A0C6EC;
    }
  }
  &.product {
    min-height: 100%;
    &--sport {
      background-color: #A0C6EC;
      .b-product {
        .flyouts {
          background-color: lighten(#A0C6EC, 41%);
        }
      }
    }
    &--mango {
      background-color: #DC673C;
      .b-product {
        .flyouts {
          background-color: lighten(#DC673C, 41%);
          .inf-window#faq {
            color: #484848;
            h3 {
              color: currentColor;
            }
            .panel {
              &__title {
                color: currentColor;
                &:after {
                  border-color: currentColor;
                }
              }
            }
            .more {
              background-color: #DC673C;
              &:hover {
                background-color: darken(#DC673C, 5%);
              }
            }
          }
        }
      }
    }
    &--pineapple {
      background-color: #FECE00;
      .b-product {
        .flyouts {
          background-color: lighten(#FECE00, 41%);
          .inf-window#faq {
            color: #484848;
            h3 {
              color: currentColor;
            }
            .panel {
              &__title {
                color: currentColor;
                &:after {
                  border-color: currentColor;
                }
              }
            }
            .more {
              background-color: #FECE00;
              &:hover {
                background-color: darken(#FECE00, 5%);
              }
            }
          }
        }
      }      
    }
    &--watermelon-and-lime {
      background-color: #FB4667;
      .b-product {
        .flyouts {
          background-color: lighten(#FB4667, 34%);
          .inf-window#faq {
            color: #484848;
            h3 {
              color: currentColor;
            }
            .panel {
              &__title {
                color: currentColor;
                &:after {
                  border-color: currentColor;
                }
              }
            }
            .more {
              background-color: #FB4667;
              &:hover {
                background-color: darken(#FB4667, 5%);
              }
            }
          }
        }
      } 
    }
    &--pure {
      background-color: #C5D9A6;
      .b-product {
        .flyouts {
          background-color: lighten(#C5D9A6, 22%);
          .inf-window#faq {
            color: #484848;
            h3 {
              color: currentColor;
            }
            .panel {
              &__title {
                color: currentColor;
                &:after {
                  border-color: currentColor;
                }
              }
            }
            .more {
              background-color: rgb(173, 200, 131);
              &:hover {
                background-color: darken(rgb(173, 200, 131), 5%);
              }
            }
          }
        }
      }
    }
  }
}

p,h1,h2,h3,h4,h5,h6,ul,li,a,div,section,header,footer {
  margin: 0;
  padding: 0;
}

strong, b {
  font-family: $f-bold;
}

.btn, .btn:focus {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.slick-slider {
  .slick-list, .slick-track, .slick-slide, .slick-slide > div {
    height: 100%;
  }
}

.slick-arrow {
  position: absolute;
  font-size: 0;
  border: none;
  background-color: transparent;
}

.arr {
  display: inline-block;
}

.slick-dots {
  list-style: none;
  width: 100%;
  font-size: 0;
  text-align: center;
  li {
    display: inline-block;
    margin-right: 18px;
    &:last-child {
      margin-right: 0;
    }
    button {
      width: 8px;
      height: 8px;
      font-size: 0;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: transparent;
      opacity: .6;
      transition: all .3s ease-in-out;
      cursor: pointer;
      outline: none;
      &:hover {
        opacity: 1;
      }
    }
    &.slick-active {
      button {
        opacity: 1;
      }
    }
  }
}

.section-title {
  display: inline-block;
  font-family: $f-bold;
  padding: 0 16px;
  h2 {
    font-size: 20px;
    line-height: 30px;
  }
  &--big {
    padding: 7px 26px;
    h2 {
      font-size: 25px;
    }
  }
}

.more-link {
  display: inline-block;
  background-color: #3DF2FF;
  padding: 0 7px;
  font-family: $f-light;
  font-size: 1rem;
  color: #444444;
  &:hover {
    text-decoration: none;
    color: #444444;
  }
}

.view-all {
  display: inline-block;
  vertical-align: middle;
  font-family: $f-bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
  &:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-image: url('../img/view-all.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    margin-left: 10px;
    position: relative;
    top: -1px;
    left: 0;
    transition: all .3s ease-in-out;
  }
  &:hover {
    color: #fff;
    text-decoration: none;
    &:after {
      left: 5px;
    }
  }
}

i.quotes {
  display: inline-block;
  width: 37px;
  height: 37px;
  background-image: url('../img/quotes.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.z-index {
  &-100 {
    z-index: 100;
  }
  &-200 {
    z-index: 200;
  }
}

.f-filter {
  display: block;
  fieldset {
    border: 2px solid rgba($c-dark, .3);
    color: $c-dark;
    padding: 0 15px 15px;
    border-radius: 6px;
    & + fieldset {
      margin-top: 15px;
    }
    legend {
      display: inline-block;
      width: auto;
      background-color: #fff;
      font-family: $f-bold;
      font-size: 23px;
      color: $c-dark-blue;
      margin-left: 10px;
      padding: 2px 5px;
      margin: 0;
    }
    input[type="checkbox"] {
      display: none;
      &:checked + label:before {
        background-color: $c-dark-blue;
      }
    }
    label {
      display: inline-block;
      padding-left: 20px;
      position: relative;
      font-family: $f-regular;
      font-size: 17px;
      line-height: 15px;
      margin: 15px 15px 0 0;
      cursor: pointer;
      &:before {
        content: '';
        display: block;
        width: 13px;
        height: 13px;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -66%);
        border: 1px solid $c-dark;
        transition: all .3s ease-in-out;
      }
    }
  }
}

.about-us {
  h2 {
    font-family: $f-bold;
    font-size: 30px;
    color: $c-dark;
  }
  p {
    font-size: 17px;
    line-height: 17px;
    font-family: $f-regular;
    & + p {
      margin-top: 20px;
    }
  }
}

@media body and (min-height: 500px) {
  .b-product .flyouts {
    height: 80vh;
  }
}


.article-content {
  img {
    &:nth-child(odd) {
      float: left;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

  }
}


.img-fluid {
  display: none;
  &:first-child {
    display: block;
  }
}

.choose-list {
  display: none;
  &:first-child {
    display: block;
  }
}

.footer__nav {
  ul {
    li {
      .sub-menu {
        display: none;
      }
    }
  }

}



.results__list li {
  transition-property: margin, background-color, border-color;
  transition-duration: .4s, .2s, .2s;
  transition-timing-function: ease-in-out, ease, ease;
}

.empty-item {
  transition-property: opacity;
  transition-duration: 0s;
  transition-delay: 0s;
  transition-timing-function: ease;
}

.empty .empty-item {
  transition-property: opacity;
  transition-duration: .2s;
  transition-delay: .3s;
  transition-timing-function: ease;
}

.hiding {
  margin-left:-100%;
  opacity:0.5;
}

.hidden {
  display:none;
}

.results__list ul {

}

.results__list ul:before {
  content:'';
  position:absolute;
  left:-2.8em;
  font-size:3em;
  text-align:right;
  top:1.5em;
  color:#ededed;
  font-weight:bold;
  font-family: 'Maven Pro', sans-serif;
  transform:rotate(-90deg);
}

.results__list li {
  //float:left;
  //clear:left;
  //width:100%;
  //margin:0.2em 0;
  //padding:0.5em 0.8em;
  //list-style:none;
  //cursor:pointer;
  //color:#333;
  //position:relative;
  //z-index:2;
}

.results__list li:hover {
  //background-color:#f9f9f9;
  //border-color:#00BDE8;
}

.empty-item {
  background:#fff;
  color:#ddd;
  margin:0.2em 0;
  padding:0.5em 0.8em;
  font-style:italic;
  border:none;
  text-align:center;
  visibility:hidden;
  opacity:0;
  float:left;
  clear:left;
  width:100%;
}

.empty .empty-item {
  opacity:1 !important;
  visibility:visible !important;
}


.empty-item {
  h2 {
    font-size: 20px;
    line-height: 35px;
    font-style: normal;
    a {
      color: #A0C6EC;
    }
  }

  p {
    font-size: 20px;
    line-height: 35px;
    font-style: normal;
    a {
      color: #A0C6EC;
    }
  }
}

body .cooked-nutrition-label dl.cooked-nut-bottom dt {
  width: 100% !important;
}

#es_txt_button {
  width: 51px;
  background-color: #2f4aae;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  cursor: pointer;
  background-image: url(../img/right-arrow.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 23px auto;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}