.recipes {
  padding: 30px 0;
  background-color: #8eeef2;
  position: relative;
  overflow: hidden;
  .section-title {
    background-color: #4a9798;
    color: $c-white;
    z-index: 500;
  }
  .recipe-teaser {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 45px;
      right: 0;
      background-color: #4a9798;
    }
    &:nth-child(even) {
      background-color: transparent;
      left: -15px;
      &:before {
        display: none;
      }
      .teaser-desc {
        order: 2;
      }
      .teaser-thumbnail {
        order: 1;
      }
    }
  }
  .recipe-teaser-single {
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 45px;
      right: 0;
      background-color: #4a9798;
    }
    //&:nth-child(even) {
    //  background-color: transparent;
    //  left: -15px;
    //  &:before {
    //    display: none;
    //  }
    //  .teaser-desc {
    //    order: 2;
    //  }
    //  .teaser-thumbnail {
    //    order: 1;
    //  }
    //}
  }
  .teaser-desc {
    display: flex;
    flex-flow: row wrap;
    background-color: #fff;
    padding: 20px 10px;
    width: 100%;
    max-width: 40%;
    position: relative;
    z-index: 300;
    h3 {
      font-family: $f-bold;
      font-size: 1.25rem;
      color: #6e6e6e;
      margin-bottom: 10px;
    }
    a {
      width: auto;
      margin-top: auto;
    }
  }
  .teaser-thumbnail {
    width: 100%;
    max-width: 60%;
    overflow: hidden;
    position: relative;
    z-index: 200;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    img {
      display: block;
      height: 100%;
      width: auto;
    }
  }
  .socials-wrapper {
    width: calc(100% - 15px);
    padding: 25px 0;
    background-color: #f5f7fd;
    .follow {
      display: inline-block;
      padding: 10px 43px;
      font-family: $f-bold;
      font-size: 25px;
      line-height: 26px;
      color: #fff;
      background-color: #5471d9;
      transition: all .3s ease-in-out;
      &:hover {
        text-decoration: none;
        background-color: rgba(#5471d9, .9);
      }
    }
    .socials-list {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      list-style: none;
      text-align: center;
      font-size: 0;
      margin-top: 25px;
      padding: 45px;
      background-image: url('../img/social-background.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: contain;
      li {
        display: inline-block;
        background-color: #706E6F;
        border-radius: 50%;
        padding: 10px;
        a {
          display: block;
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: contain;
          transition: all .2s ease-in-out;
          &.fb {
            background-image: url('../img/facebook.svg');
          }
          &.inst {
            background-image: url('../img/instagram.svg');
          }
          &.pt {
            background-image: url('../img/pinterest.svg');
          }
          &.yt {
            background-image: url('../img/youtube.svg');
          }
          &:hover {
            text-decoration: none;
            transform: translate(0, -5px);
          }
        }
      }
    }
  }
}