.reviews {
  background-color: #F9F9F9;
  position: relative;
  padding: 30px 0;
  border-bottom: 20px solid #4a9798;
  .section-title {
    background-color: #5471d9;
    color: #FFFFFF;
    z-index: 200;
  }
  .reviews-row {
    margin-top: 100px;
  }
  .review-teaser {
    background-color: #ffffff;
    margin-top: 48px;
    padding: 40px 35px 30px;
    position: relative;
    &:first-child {
      margin-top: 0;
    }
    i.quotes {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    p {
      font-family: $f-light;
      font-size: 17px;
      line-height: 25px;
      color: #6e6e6e;
    }
    h4 {
      font-family: $f-bold;
      font-size: 17px;
      line-height: 25px;
      color: #6e6e6e;
      margin-top: 25px;
    }
  }
  .more-testimonials {
    display: inline-block;
    color: #5471d9;
    border: 1px solid #5471d9;
    font-family: $f-bold;
    font-size: 20px;
    line-height: 22px;
    padding: 17px 22px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #5471d9;
      color: #fff;
      text-decoration: none;
    }
  }
}