<script src="js/vendors/jquery.min.js?ver=1.0"></script>
<script src="js/vendors/slick.min.js?ver=1.0"></script>
<script src="js/vendors/aos.js?ver=1.0"></script>
<script src="js/script.js?ver=1.0"></script>
</body>
</html>