{{#about-us}}
{{> partials/general/head }}
{{> partials/components/header }}
{{> partials/components/main-slider }}
{{> partials/components/contact-links }}
{{> partials/components/footer }}
{{> partials/general/foot }}
{{/about-us}}