{{#articles-list}}
  {{> partials/general/head }}
  {{> partials/components/header }}
  {{> partials/components/articles }}
  {{> partials/components/footer }}
  {{> partials/general/foot }}
{{/articles-list}}