{{#faq}}
{{> partials/general/head }}
{{> partials/components/header }}
{{> partials/components/banner }}
<!-- New features -->
{{> partials/components/faq-pannels }}
{{> partials/components/footer }}
{{> partials/general/foot }}
{{/faq}}