{{> partials/general/head }}
{{> partials/components/header }}
{{> partials/components/main-slider }}
{{> partials/components/our-products }}
{{> partials/components/our-blog }}
{{> partials/general/foot }}